[Unit]
Description=BME280 Sensor Logger
After=network.target

[Service]
Type=simple
User=delnatan
WorkingDirectory=/home/delnatan/bme280_project
Environment=PATH=/usr/bin:/bin
ExecStart=/usr/bin/python3 services/logger.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
